* {
  box-sizing: border-box;
}
body {
  background-color: #333138;
  color: #FFFFFA;
  font-family: 'Roboto', sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px 18px;
  z-index: 2;
}
header .header-list {
  display: flex;
  list-style: none;
}
header .header-list-item {
  margin-left: 25px;
}
header .header-list-item a {
  color: #FFFFFA;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .35s;
}
header .header-list-item a:hover {
  color: #FF312E;
}
.section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 75px 100px;
}
.hero {
  align-items: center;
  background-image: url('../assets/hero.jpg');
  background-position: top right;
  background-size: cover;
  position: relative;
}
.hero .backcolor {
  position: absolute;
  background-color: rgba(51, 49, 56, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero-content {
  z-index: 1;
  width: 55%;
}
.hero-content h1 {
  font-size: 3.8vw;
}
.hero-content h2 {
  font-size: 2.2vw;
  margin-bottom: 58px;
}
.order-btn {
  font-size: 20px;
  color: #FFFFFA;
  padding: 12px 18px;
  background-color: #FF312E;
  border: 2px solid #FF312E;
  transition: all .45s;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}
.order-btn:hover {
  background-color: transparent;
  color: #FF312E;
}
.content-section {
  flex-direction: column;
  background-color: #FFFFFA;
  color: #000103;
}
.content-section .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-section .row .content-item {
  width: 33%;
  margin-bottom: 38px;
}
.content-section .row .content-item-title {
  color: #333138;
}
.content-section .row .content-item-descr {
  width: 75%;
  margin-bottom: 0;
  line-height: 22px;
}
.title {
  font-size: 32px;
  margin-bottom: 105px;
  font-weight: bold;
  color: #FF312E;
  text-align: center;
}
.cost-setting {
  flex-direction: column;
}
.cost-setting .item img {
  margin-bottom: 38px;
}
.cost-setting .item p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.why-section {
  flex-direction: column;
  min-height: auto;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
}
.why-section .why-list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  list-style: none;
}
.why-section .why-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 28px;
}
.why-section .why-list-item img {
  display: block;
  margin-right: 24px;
  width: 75px;
}
.demo-section {
  flex-direction: column;
}
.demo-section .embeded {
  height: 820px;
  margin: 26px;
}
.buy-section {
  flex-direction: column;
  background-color: #FFFFFA;
  color: #000103;
  min-height: auto;
}
.buy-section .description {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 28px;
  text-align: center;
}
.buy-section .checkout-form {
  margin: 0 auto;
  margin-bottom: 26px;
}
.buy-section .notice {
  font-size: 13px;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 26px;
}
footer {
  padding: 12px;
  text-align: center;
}
footer a {
  color: #fff;
}
